.div1{
border: 5px solid blue;
width: 600px;
height:800px;
text-align:center;
margin: auto;
}
.body1{
background-color: #ADD8E6;
}
.div2{
width: 800px;
height:1350px;
text-align:center;
margin: auto;
}
.table1{
margin: auto;	
}
